.scoreboard {
  padding-top: 50px;
  background: #28c8dc;
  color: black;
  font-size: 24px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
